div #innerDiv{
    height: 400px;
    width: 400px;
     border-radius: 50%;
     border-color: black;
     background-color: rgb(31, 192, 165);
     margin-top: 100px;
     margin: auto;
}

div #myDiv{
    height: 200px;
    width: 10px;
    border-color: black;
     background-color: black;
     margin: auto;
     z-index: 100;
}

div #timeCounter{
    height: 200px;
    width:200px;
    border-color: black;
     background-color: rgb(132, 151, 150);
     text-align: center;
     margin: auto;
     z-index: 100;
}
div #divCont{
   margin-left:45%;
   margin-top: 20px;
   margin-bottom: 20px;
 
}